$color-primary-1: #f2ebe1;
$color-primary-2: #fcbda3;
$color-primary-3: #fce5bc;
$color-primary-4: #f0884e;
$color-white: #fcfcfc;

$color-grey: #dad4cb;
$color-black: #000;

$laptop-m: 76.75em; //1230
$laptop-s: 71.75em; //1250
$tablate-l: 63.75em; //1030

$tablate: 51.25em;
$tablate-s: 43.12em;
$mobile-l: 31.225em; //500px

// mobile 470
$mobile: 29.37em;
